@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.reception-layout {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.reception-content {
    flex: 1;
}